.flows.json.backup
[
    {
        "id": "95a58d00f0208f4c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f0f2707e7ec01e2b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "tcp://broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "23ebb965d6759d30",
        "type": "ui_group",
        "name": "Stats",
        "tab": "31605acde82ea5b5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "31605acde82ea5b5",
        "type": "ui_tab",
        "name": "EcoWatt",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "630ac2c14a323db6",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b68a42613a64acc5",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c249132840534a4e",
        "type": "ui_group",
        "name": "Frequency",
        "tab": "b68a42613a64acc5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84daba29a66249fd",
        "type": "mqtt in",
        "z": "95a58d00f0208f4c",
        "name": "",
        "topic": "esp32/ecowatt_data",
        "qos": "2",
        "datatype": "json",
        "broker": "f0f2707e7ec01e2b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "2501f8e1329869ef",
                "69cd8411ad5f5601"
            ]
        ]
    },
    {
        "id": "2501f8e1329869ef",
        "type": "function",
        "z": "95a58d00f0208f4c",
        "name": "JSON Extractor",
        "func": "// let device = msg.payload.device_id;\n// let entries = msg.payload.entries;\n\n// let vac1 = [];\n// let iac1 = [];\n// let ipv1 = [];\n// let pac = [];\n\n// for (let entry of entries) {\n//     let ts = entry.timestamp;\n\n//     vac1.push({\n//         topic: device + \"/REG_VAC1\",\n//         payload: {\n//             value: entry.register_mapping.REG_VAC1,\n//             timestamp: ts\n//         }\n//     });\n\n//     iac1.push({\n//         topic: device + \"/REG_IAC1\",\n//         payload: {\n//             value: entry.register_mapping.REG_IAC1,\n//             timestamp: ts\n//         }\n//     });\n\n//     ipv1.push({\n//         topic: device + \"/REG_IPV1\",\n//         payload: {\n//             value: entry.register_mapping.REG_IPV1,\n//             timestamp: ts\n//         }\n//     });\n\n//     pac.push({\n//         topic: device + \"/REG_PAC\",\n//         payload: {\n//             value: entry.register_mapping.REG_PAC,\n//             timestamp: ts\n//         }\n//     });\n// }\n\n// // return as 4 outputs → wire each to its own Chart\n// return [msg,vac1, iac1, ipv1, pac];\n\n// Register mapping from your table\nconst data = msg.payload.register_data;\n\n// Calculate actual values with units and formatting\nconst acVoltage = data.REG_VAC1 ? {\n    payload: data.REG_VAC1 / 10,\n    unit: \"V\",\n    formatted: (data.REG_VAC1 / 10).toFixed(1) + \"V\"\n} : null;\n\nconst acCurrent = data.REG_IAC1 ? {\n    payload: data.REG_IAC1 / 10,\n    unit: \"A\",\n    formatted: (data.REG_IAC1 / 10).toFixed(2) + \"A\"\n} : null;\n\nconst acFrequency = data.REG_FAC1 ? {\n    payload: data.REG_FAC1 / 100,\n    unit: \"Hz\",\n    formatted: (data.REG_FAC1 / 100).toFixed(2) + \"Hz\"\n} : null;\n\nconst pv1Voltage = data.REG_VPV1 ? {\n    payload: data.REG_VPV1 / 10,\n    unit: \"V\",\n    formatted: (data.REG_VPV1 / 10).toFixed(1) + \"V\"\n} : null;\n\nconst pv2Voltage = data.REG_VPV2 ? {\n    payload: data.REG_VPV2 / 10,\n    unit: \"V\",\n    formatted: (data.REG_VPV2 / 10).toFixed(1) + \"V\"\n} : null;\n\nconst pv1Current = data.REG_IPV1 ? {\n    payload: data.REG_IPV1 / 10,\n    unit: \"A\",\n    formatted: (data.REG_IPV1 / 10).toFixed(2) + \"A\"\n} : null;\n\nconst pv2Current = data.REG_IPV2 ? {\n    payload: data.REG_IPV2 / 10,\n    unit: \"A\",\n    formatted: (data.REG_IPV2 / 10).toFixed(2) + \"A\"\n} : null;\n\nconst temperature = data.REG_TEMP ? {\n    payload: data.REG_TEMP / 10,\n    unit: \"°C\",\n    formatted: (data.REG_TEMP / 10).toFixed(1) + \"°C\"\n} : null;\n\nconst exportPower = data.REG_EXPORT_POWER ? {\n    payload: data.REG_EXPORT_POWER,\n    unit: \"%\",\n    formatted: data.REG_EXPORT_POWER.toFixed(0) + \"%\"\n} : null;\n\nconst acPower = data.REG_PAC ? {\n    payload: data.REG_PAC,\n    unit: \"W\",\n    formatted: data.REG_PAC.toFixed(0) + \"W\"\n} : null;\n\n// Return array with 10 outputs\nreturn [\n    acVoltage,      // Output 1: AC Voltage with unit \"V\"\n    acCurrent,      // Output 2: AC Current with unit \"A\"  \n    acFrequency,    // Output 3: AC Frequency with unit \"Hz\"\n    pv1Voltage,     // Output 4: PV1 Voltage with unit \"V\"\n    pv2Voltage,     // Output 5: PV2 Voltage with unit \"V\"\n    pv1Current,     // Output 6: PV1 Current with unit \"A\"\n    pv2Current,     // Output 7: PV2 Current with unit \"A\"\n    temperature,    // Output 8: Temperature with unit \"°C\"\n    exportPower,    // Output 9: Export Power with unit \"%\"\n    acPower         // Output 10: AC Power with unit \"W\"\n];\n",
        "outputs": 10,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 100,
        "wires": [
            [
                "916f0a826fdb0e87"
            ],
            [
                "faf446bbc16b4022"
            ],
            [
                "0a76308ecdcb5fd7"
            ],
            [
                "d2b7dd66866ac87d"
            ],
            [
                "0792930e0df35847"
            ],
            [
                "c83397859e22fcde"
            ],
            [
                "229a466f1a6b6c81"
            ],
            [
                "4651f0880ead6b12"
            ],
            [
                "015965001fb5d516"
            ],
            [
                "33b661c9682dfa39"
            ]
        ]
    },
    {
        "id": "69cd8411ad5f5601",
        "type": "debug",
        "z": "95a58d00f0208f4c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 300,
        "wires": []
    },
    {
        "id": "916f0a826fdb0e87",
        "type": "ui_text",
        "z": "95a58d00f0208f4c",
        "group": "23ebb965d6759d30",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AC Voltage",
        "format": "{{msg.formatted}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 40,
        "wires": []
    },
    {
        "id": "faf446bbc16b4022",
        "type": "ui_text",
        "z": "95a58d00f0208f4c",
        "group": "23ebb965d6759d30",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AC Current",
        "format": "{{msg.formatted}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "0a76308ecdcb5fd7",
        "type": "ui_text",
        "z": "95a58d00f0208f4c",
        "group": "23ebb965d6759d30",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AC Frequency",
        "format": "{{msg.formatted}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "d2b7dd66866ac87d",
        "type": "ui_text",
        "z": "95a58d00f0208f4c",
        "group": "23ebb965d6759d30",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PV1 Voltage",
        "format": "{{msg.formatted}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "0792930e0df35847",
        "type": "ui_text",
        "z": "95a58d00f0208f4c",
        "group": "23ebb965d6759d30",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PV2 Voltage",
        "format": "{{msg.formatted}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "c83397859e22fcde",
        "type": "ui_text",
        "z": "95a58d00f0208f4c",
        "group": "23ebb965d6759d30",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PV1 Current",
        "format": "{{msg.formatted}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "229a466f1a6b6c81",
        "type": "ui_text",
        "z": "95a58d00f0208f4c",
        "group": "23ebb965d6759d30",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PV2 Current",
        "format": "{{msg.formatted}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "4651f0880ead6b12",
        "type": "ui_text",
        "z": "95a58d00f0208f4c",
        "group": "23ebb965d6759d30",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.formatted}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "015965001fb5d516",
        "type": "ui_text",
        "z": "95a58d00f0208f4c",
        "group": "23ebb965d6759d30",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Export Power",
        "format": "{{msg.formatted}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "33b661c9682dfa39",
        "type": "ui_text",
        "z": "95a58d00f0208f4c",
        "group": "23ebb965d6759d30",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AC Power",
        "format": "{{msg.formatted}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "46a7e3e81acb790d",
        "type": "ui_numeric",
        "z": "95a58d00f0208f4c",
        "name": "",
        "label": "Sample time (s)",
        "tooltip": "",
        "group": "c249132840534a4e",
        "order": 10,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "sampleTime",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "cc62e518a6f0731d",
        "type": "ui_numeric",
        "z": "95a58d00f0208f4c",
        "name": "",
        "label": "Upload time (s)",
        "tooltip": "",
        "group": "c249132840534a4e",
        "order": 11,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "uploadTime",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "5e9c8b5e0496c82f",
        "type": "function",
        "z": "95a58d00f0208f4c",
        "name": "JSON Parser",
        "func": "// Function node\nif (msg.topic === \"sampleTime\") flow.set(\"sampleTime\", msg.payload);\nif (msg.topic === \"uploadTime\") flow.set(\"uploadTime\", msg.payload);\n\nlet newSampleTime = flow.get(\"sampleTime\");\nlet newUploadTime = flow.get(\"uploadTime\");\n\n// previous values for change detection\nlet prevSampleTime = context.get(\"prevSampleTime\");\nlet prevUploadTime = context.get(\"prevUploadTime\");\n\nlet pollFreqChanged = prevSampleTime !== undefined && newSampleTime !== prevSampleTime;\nlet uploadFreqChanged = prevUploadTime !== undefined && newUploadTime !== prevUploadTime;\nlet changed = pollFreqChanged || uploadFreqChanged;\n\n// update previous values\ncontext.set(\"prevSampleTime\", newSampleTime);\ncontext.set(\"prevUploadTime\", newUploadTime);\n\n// build payload\nmsg.payload = {\n    Changed: changed,\n    pollFreqChanged: pollFreqChanged,\n    newPollTimer: newSampleTime,\n    uploadFreqChanged: uploadFreqChanged,\n    newUploadTimer: newUploadTime\n};\nmsg.topic = \"esp32/ecowatt_settings\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 520,
        "wires": [
            [
                "fd44f33e1a7f6b45",
                "f0ad15ddd7e262d8"
            ]
        ]
    },
    {
        "id": "fd44f33e1a7f6b45",
        "type": "mqtt out",
        "z": "95a58d00f0208f4c",
        "name": "",
        "topic": "esp32/ecowatt_settings",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f0f2707e7ec01e2b",
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "f0ad15ddd7e262d8",
        "type": "debug",
        "z": "95a58d00f0208f4c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 600,
        "wires": []
    },
    {
        "id": "72314f2cc67c5c6b",
        "type": "inject",
        "z": "95a58d00f0208f4c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "sampleTime",
        "payload": "5",
        "payloadType": "num",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "5e9c8b5e0496c82f"
            ]
        ]
    },
    {
        "id": "9c5c32fc88804b67",
        "type": "inject",
        "z": "95a58d00f0208f4c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "uploadTime",
        "payload": "5",
        "payloadType": "num",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "5e9c8b5e0496c82f"
            ]
        ]
    }
]